@font-face {
    font-family: "DM Sans";
    src: url("fonts/dmsans-variablefont_opszwght-webfont.woff2") format("woff2"),
    url("fonts/dmserifdisplay-regular-webfont.woff") format("woff");
}

@font-face {
    font-family: "DM Serif";
    src: url("fonts/dmserifdisplay-regular-webfont.woff2") format("woff2"),
    url("fonts/dmserifdisplay-regular-webfont.woff") format("woff");
}

*{
    margin: 0;
}

div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #001021;
}

#sidebar,
#content-div{
    height: 100vh;
    max-width: 840px;
}

#content-div, form, #odin-wrapper, .form-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sidebar{
    width: 25vw;
    background-image: url("microsoft-edge-Px0X7g1mc8k-unsplash.jpg");
    background-size: cover;
}

h1{
    color: #FFFAF1;
    font-size: 48px;
}

#odin-wrapper{
    margin-top: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:rgba(0, 0, 0, 70%);
    width: 100%;
    height: 6vw;
    padding: 10px 0 10px 0;
}

#top-logo{
    max-width: 60px;
    max-height: 90px;
    margin-right: 5px;
}

#content-div{
    width: 75vw;
    background-color: #EBFFEB;
}

p, form, span, button, h3{
    margin-left: 30px;
}

h3, p, button, span{
    font-size: 20px;
    font-family: "DM Serif", Helvetica, Arial, sans-serif;
    font-weight: 600;
    max-width: 75%;
}

label{
    font-family: "DM Sans", Helvetica, Arial, sans-serif;
    font-size: 10px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 3px;
}

#form-wrapper{
    display: flex;
    flex-direction: column;
    background-color: #F7FFF7;
    width: 100%;
    border-width: 1px;
    box-shadow: 1.0px 2.1px 2.1px hsl(0deg 0% 0% / 0.47);
    margin: 40px 0 30px 0;
    padding: 20px 0 20px 0;
}

form{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 20px;
}

input{
    appearance: none;
    border-radius: 3px;
    border: 2px solid gainsboro;
    max-width: 85%;
    margin-bottom: 15px;
    height: 20px;
    outline: none;
    font-family: "DM Sans", Helvetica, Arial, sans-serif;
}

input:focus{
    border: 2px solid cornflowerblue;
    box-shadow: 0.3px 0.6px 0.6px hsl(0deg 0% 0% / 0.49);
}

input:focus:valid{
    border: 2px solid rgb(59, 183, 59);
    box-shadow: 0.3px 0.6px 0.6px hsl(0deg 0% 0% / 0.49);
}

input:user-invalid{
    border: 2px solid rgba(255, 72, 72, 90%);
    outline: none;
}

.form-field{
    background-color: rgba(0, 0, 0, 0%);
}

button{
    background-color: #615F3B;
    color: #F7FFF7;
    max-width: 196px;
    border-radius: 8px;
    box-shadow: 0.3px 0.6px 0.6px hsl(0deg 0% 0% / 0.49);
    border-width: 0;
    padding: 10px 20px 10px 20px;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
}

span{
    font-size: 14px;
}






